{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/**/*.ts",
    "src/**/*.js"
  ],
  "require": [
    "ts-node/register",
    "source-map-support/register"
  ],
  "reporter": [
    "text-summary",
    "html",
    "teamcity"
  ]
}
